*{
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  background: #ecf0f3;
}
.login-div{
  width: 300px;
  height: 550px;
  padding: 60px 35px 35px 35px;
  border-radius: 20px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #c0ced1,
              -13px -13px 20px #ffffff;
}
.logo{
  background: url('../img/icon.png');
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 2px #5f5f5f,
  0px 0px 0px 5px #ecf0f3,
  8px 8px 15px #a7aaaf,
  -8px -8px -15px #ffffff;
  ;

}.title{
  text-align: center;
  font-size: 28px;
  padding-top: 24px;
  letter-spacing: 0.5px;
}
.sub-title{
  text-align: center;
  font-size: 15px;
  padding-top: 7px;
}
.fields{
  width: 100%;
  padding: 45px 5px 5px 5px;
}
.fields input{
  border: none;
  outline: none;
  background: none;
  font-size: 15px;
  columns: #555;
  padding: 15px 10px 10px 10px;
}

.username, .password{
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
}
.remember{
  font-size: 15px;
  padding: 5px 0px 10px 0px;
}
.signin-button{
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  border-radius: 15px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-align: center;
  background: #2b87fb;
  box-shadow: 3px 3px 8px #b1b1b1,
              -3px -3px 8px #ffffff;
}
.signin-button:hover{
  background: #4d96fb;
}
.signin-button:active{
  background: #047bfb;
  border: none;
  outline: none;
}

